<ion-header>
  <ion-toolbar>
    <ion-title>salvar-curso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-content>
      <label style="color: brown ">Nome</label>
        <ion-input style="   border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:100%" type="text" name="nome" [(ngModel)]="curso.nome"></ion-input>
        <label style="color: brown ">Ano</label>
        <ion-input style="   border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:100%" type="number" name="ano" [(ngModel)]="curso.ano"></ion-input>
        <ion-button expand = "full" shape = "round" (click)="salvar()">Salvar novo Curso</ion-button>
        <ion-button style="margin-top: 150x" expand="full" shape="round" href="curso-listar"> Cursos </ion-button>
        <ion-button expand="full" shape="round" href="pagina">Voltar</ion-button>
</ion-content>

