<ion-header>
    <ion-toolbar>
      <ion-title>Lista de Materias</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
          <ion-item>         
            <ion-input [(ngModel)]="buscarCurso"></ion-input>
            <ion-button color="success" (click)="buscar()">busca</ion-button>
          </ion-item>
      <ion-item *ngFor="let materia of listaMateria | async">
        <ion-label>{{ materia.nome }}
       {{ materia.curso.nome }}
       {{ materia.curso.ano }}</ion-label>
        <ion-button *ngIf="(user_id | async) == materia.user_id" expand="full" shape="round" color="danger" (click)="excluir(materia.key, materia)">Excluir</ion-button>
      </ion-item>
     
    </ion-list>
  
  </ion-content>

  <ion-button href = "salvar-materia">Novo</ion-button>
<ion-button expand="full" shape="round" href="pagina">Voltar</ion-button>

  
  