<ion-header>
  <ion-toolbar>
    <ion-title>listar-registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
  <ion-item>
    <ion-input [(ngModel)]="buscarCurso"></ion-input>
    <ion-button expand="full" shape="round" color="success" (click)="buscar()">busca</ion-button>
  </ion-item>
    <ion-item *ngFor="let registro of listaRegistro | async">
  

      <ion-label> 
        {{ registro.data }} -
     {{ registro.conteudo }} 
    {{ registro.conceito }} </ion-label>

<ion-button *ngIf="(user_id | async) == registro.user_id"  shape="round" color="danger"
  (click)="excluir(registro.key, curso)">Excluir</ion-button>
    

    </ion-item>
  </ion-list>
  <ion-button expand="full" shape="round" href="salvar-registro">Novo</ion-button>
  <ion-button expand="full" shape="round" href="pagina">Voltar</ion-button>
</ion-content>